body, html {
  font-family: sans-serif;
}

body, input {
  font: 12pt verdana;
}


/* our custom classes overrule the styles for selected events,
   so lets define a new style for the selected events */
.vis-item.vis-selected {
  background-color: white;
  border-color: black;
  color: black;
  box-shadow: 0 0 10px gray;
}


@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}


.vis-item.red-size3 {
  background-color: red;
  border-color: red;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.red-size3 {
  border-radius: 12px;
  border-width: 12px;
}
.vis-item.vis-line.red-size3 {
  border-width: 6px;
}
.vis-item.vis-box.red-size3 {
  border-radius: 6px;
  border-width: 2px;
  font-size: 32pt;
  font-weight: bold;
  animation: flash linear 2s infinite;
}
.vis-item.gold-size3 {
  background-color: gold;
  border-color: gold;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.gold-size3 {
  border-radius: 12px;
  border-width: 12px;
}
.vis-item.vis-line.gold-size3 {
  border-width: 6px;
}
.vis-item.vis-box.gold-size3 {
  border-radius: 6px;
  border-width: 2px;
  font-size: 32pt;
  font-weight: bold;
  animation: flash linear 2s infinite;
}
.vis-item.greenyellow-size3 {
  background-color: greenyellow;
  border-color: greenyellow;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.greenyellow-size3 {
  border-radius: 12px;
  border-width: 12px;
}
.vis-item.vis-line.greenyellow-size3 {
  border-width: 6px;
}
.vis-item.vis-box.greenyellow-size3 {
  border-radius: 6px;
  border-width: 2px;
  font-size: 32pt;
  font-weight: bold;
  animation: flash linear 2s infinite;
}
.vis-item.magenta-size3 {
  background-color: magenta;
  border-color: magenta;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.magenta-size3 {
  border-radius: 12px;
  border-width: 12px;
}
.vis-item.vis-line.magenta-size3 {
  border-width: 6px;
}
.vis-item.vis-box.magenta-size3 {
  border-radius: 6px;
  border-width: 2px;
  font-size: 32pt;
  font-weight: bold;
  animation: flash linear 2s infinite;
}
.vis-item.skyblue-size3 {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.skyblue-size3 {
  border-radius: 12px;
  border-width: 12px;
}
.vis-item.vis-line.skyblue-size3 {
  border-width: 6px;
}
.vis-item.vis-box.skyblue-size3 {
  border-radius: 6px;
  border-width: 2px;
  font-size: 32pt;
  font-weight: bold;
  animation: flash linear 2s infinite;
}







.vis-item.red-size2 {
  background-color: red;
  border-color: red;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.red-size2 {
  border-radius: 10px;
  border-width: 10px;
}
.vis-item.vis-line.red-size2 {
  border-width: 5px;
}
.vis-item.vis-box.red-size2 {
  border-radius: 5px;
  border-width: 2px;
  font-size: 26pt;
  font-weight: bold;
}
.vis-item.gold-size2 {
  background-color: gold;
  border-color: gold;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.gold-size2 {
  border-radius: 10px;
  border-width: 10px;
}
.vis-item.vis-line.gold-size2 {
  border-width: 5px;
}
.vis-item.vis-box.gold-size2 {
  border-radius: 5px;
  border-width: 2px;
  font-size: 26pt;
  font-weight: bold;
}
.vis-item.greenyellow-size2 {
  background-color: greenyellow;
  border-color: greenyellow;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.greenyellow-size2 {
  border-radius: 10px;
  border-width: 10px;
}
.vis-item.vis-line.greenyellow-size2 {
  border-width: 5px;
}
.vis-item.vis-box.greenyellow-size2 {
  border-radius: 5px;
  border-width: 2px;
  font-size: 26pt;
  font-weight: bold;
}
.vis-item.magenta-size2 {
  background-color: magenta;
  border-color: magenta;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.magenta-size2 {
  border-radius: 10px;
  border-width: 10px;
}
.vis-item.vis-line.magenta-size2 {
  border-width: 5px;
}
.vis-item.vis-box.magenta-size2 {
  border-radius: 5px;
  border-width: 2px;
  font-size: 26pt;
  font-weight: bold;
}
.vis-item.skyblue-size2 {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.skyblue-size2 {
  border-radius: 10px;
  border-width: 10px;
}
.vis-item.vis-line.skyblue-size2 {
  border-width: 5px;
}
.vis-item.vis-box.skyblue-size2 {
  border-radius: 5px;
  border-width: 2px;
  font-size: 26pt;
  font-weight: bold;
}







.vis-item.red-size1 {
  background-color: red;
  border-color: red;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.red-size1 {
  border-radius: 8px;
  border-width: 8px;
}
.vis-item.vis-line.red-size1 {
  border-width: 4px;
}
.vis-item.vis-box.red-size1 {
  border-radius: 4px;
  border-width: 2px;
  font-size: 20pt;
  font-weight: bold;
}
.vis-item.gold-size1 {
  background-color: gold;
  border-color: gold;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.gold-size1 {
  border-radius: 8px;
  border-width: 8px;
}
.vis-item.vis-line.gold-size1 {
  border-width: 4px;
}
.vis-item.vis-box.gold-size1 {
  border-radius: 4px;
  border-width: 2px;
  font-size: 20pt;
  font-weight: bold;
}
.vis-item.greenyellow-size1 {
  background-color: greenyellow;
  border-color: greenyellow;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.greenyellow-size1 {
  border-radius: 8px;
  border-width: 8px;
}
.vis-item.vis-line.greenyellow-size1 {
  border-width: 4px;
}
.vis-item.vis-box.greenyellow-size1 {
  border-radius: 4px;
  border-width: 2px;
  font-size: 20pt;
  font-weight: bold;
}
.vis-item.magenta-size1 {
  background-color: magenta;
  border-color: magenta;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.magenta-size1 {
  border-radius: 8px;
  border-width: 8px;
}
.vis-item.vis-line.magenta-size1 {
  border-width: 4px;
}
.vis-item.vis-box.magenta-size1 {
  border-radius: 4px;
  border-width: 2px;
  font-size: 20pt;
  font-weight: bold;
}
.vis-item.skyblue-size1 {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.skyblue-size1 {
  border-radius: 8px;
  border-width: 8px;
}
.vis-item.vis-line.skyblue-size1 {
  border-width: 4px;
}
.vis-item.vis-box.skyblue-size1 {
  border-radius: 4px;
  border-width: 2px;
  font-size: 20pt;
  font-weight: bold;
}








.vis-item.red-size0 {
  background-color: red;
  border-color: red;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.red-size0 {
  border-radius: 6px;
  border-width: 6px;
}
.vis-item.vis-line.red-size0 {
  border-width: 3px;
}
.vis-item.vis-box.red-size0 {
  border-radius: 3px;
  border-width: 2px;
  font-size: 14pt;
  font-weight: bold;
}
.vis-item.gold-size0 {
  background-color: gold;
  border-color: gold;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.gold-size0 {
  border-radius: 6px;
  border-width: 6px;
}
.vis-item.vis-line.gold-size0 {
  border-width: 3px;
}
.vis-item.vis-box.gold-size0 {
  border-radius: 3px;
  border-width: 2px;
  font-size: 14pt;
  font-weight: bold;
}
.vis-item.greenyellow-size0 {
  background-color: greenyellow;
  border-color: greenyellow;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.greenyellow-size0 {
  border-radius: 6px;
  border-width: 6px;
}
.vis-item.vis-line.greenyellow-size0 {
  border-width: 3px;
}
.vis-item.vis-box.greenyellow-size0 {
  border-radius: 3px;
  border-width: 2px;
  font-size: 14pt;
  font-weight: bold;
}
.vis-item.magenta-size0 {
  background-color: magenta;
  border-color: magenta;
  color: white;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.magenta-size0 {
  border-radius: 6px;
  border-width: 6px;
}
.vis-item.vis-line.magenta-size0 {
  border-width: 3px;
}
.vis-item.vis-box.magenta-size0 {
  border-radius: 3px;
  border-width: 2px;
  font-size: 14pt;
  font-weight: bold;
}
.vis-item.skyblue-size0 {
  background-color: skyblue;
  border-color: skyblue;
  color: black;
  font-family: monospace;
  box-shadow: 0 0 10px gray;
}
.vis-item.vis-dot.skyblue-size0 {
  border-radius: 6px;
  border-width: 6px;
}
.vis-item.vis-line.skyblue-size0 {
  border-width: 3px;
}
.vis-item.vis-box.skyblue-size0 {
  border-radius: 3px;
  border-width: 2px;
  font-size: 14pt;
  font-weight: bold;
}
