body, html {
  font-family: sans-serif;
}

body, input {
  font: 12pt verdana;
}

.box1{float: left; width:20px;height:20px; background:yellow; }
.box2{float: left; width:20px;height:20px; background:orange;}
.box3{float: left; width:20px;height:20px; background:red;}

/* our custom classes overrule the styles for selected events,
   so lets define a new style for the selected events */
.vis-item.vis-selected {
  background-color: white;
  border-color: black;
  color: black;
  box-shadow: 0 0 10px gray;
}


@keyframes flash {
  0% { opacity: 1; } 
  50% { opacity: .1; } 
  100% { opacity: 1; }
}

