{% extends "base.html" %}
{% block content %}

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Project Timeline</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a data-toggle="tab" href="#dashboard">Dashboard</a></li>
        <li><a data-toggle="tab" href="#management">Management</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="tab-content">
	<div id="dashboard" class="tab-pane fade in active">
		<table style="float:right">
		  <tr>
		    <th>Missed:  </th>
		    <th><div class="box1"></div> once  </th>
		    <th><div class="box2"></div> twice  </th>
		    <th><div class="box3"></div> >=three times</th>
		  </tr>
		</table>

		<ul class="nav nav-tabs">
		    <li id="tab0" class="active"><a href="#menu0"></a></li>
		    <li id="tab1"><a href="#menu1"></a></li>
		    <li id="tab2"><a href="#menu2"></a></li>
		</ul>
		<div class="tab-content">
		    <div id="menu0" class="tab-pane fade in active"></div>
		    <div id="menu1" class="tab-pane fade"></div>
		    <div id="menu2" class="tab-pane fade"></div>
		</div>
    </div>

    <div id="management" class="tab-pane fade container">
        <h1 style="text-align:center">Projects Management</h1>
		<table id="projectTable" class="display" cellspacing="0" width="100%">
		    <thead>
		        <tr>
		            <th>Name</th>
		            <th>End Date</th>
		            <th>Milestone</th>
		            <th>Level</th>
		            <th>Missed</th>
		        </tr>
		    </thead>
		    <tfoot>
		        <tr>
		            <th>Name</th>
		            <th>End Date</th>
		            <th>Milestone</th>
		            <th>Level</th>
		            <th>Missed</th>
		        </tr>
		    </tfoot>
		</table>
    </div>

</div><!-- /.container -->


<script type="text/javascript">


	renderTimeline();
	$(document).ready(function(){
	    $(".nav-tabs a").click(function(){
	        $(this).tab('show');
	    });
	});

	//var editor; // use a global for the submit and return data rendering in the examples
 
	$(document).ready(function() {
	
	    editor = new $.fn.dataTable.Editor( {
	        ajax: {
	        	create: {
	        		type: 'POST',
	        		url: '/post'
	        	},
	        	edit: {
	        		type: 'PUT',
	        		url: '/put'
	        	},
	        	remove: {
	        		type: 'DELETE',
	        		url: '/delete'
	        	}
	        },
	        table: "#projectTable",
	        fields: [ {
	                label: "Name:",
	                name: "name_P"
	            }, {
	                label: "End date:",
	                name: "end_date",
	                type: "datetime"
	            }, {
	                label: "Milestone:",
	                name: "milestone"
	            }, {
	                label: "Level:",
	                name: "level"
	            }, {
	            	label: "Missed:",
	            	name: "missed",
	            	//type: "readonly"
	            }
	        ]
	    });
	 
	 	/*
	    editor.on( 'onInitEdit', function () {
			editor.disable('missed');
		} );
		*/
		

		$(document).on( 'change', '#DTE_Field_end_date', function () {
			end_date_old = $('#DTE_Field_end_date').val();
			missed_old = $('#DTE_Field_missed').val();
		} );

		editor.on( 'preSubmit', function ( e, o, action ) {
			if (action == 'edit') {
				var endDate = editor.field( 'end_date' ).val();
				var missed = editor.field( 'missed' ).val();
				if (end_date_old < endDate) {
					//editor.field( 'missed' ).val(parseInt(missed_old, 10)+1);
					var r=confirm("You have changed End Date. Do you want to set Missed to " + (parseInt(missed_old, 10)+1) + " ?");
					if (r==true) {
						editor.field( 'missed' ).val(parseInt(missed_old, 10)+1);
						var key = Object.keys(e["target"]["s"]["editData"]["missed"]);
						o["data"][key[0]]["missed"] = (editor.field( 'missed' ).val()).toString();
					}
					else {
						console.log("cancel");
						//return false;
					}
				}				
			}
	        if ( action !== 'remove' ) {

	            var name = editor.field( 'name_P' );
	            var endDate = editor.field( 'end_date' );
	            var milestone = editor.field( 'milestone' );
	            var level = editor.field( 'level' );
	            var missed = editor.field( 'missed' );

	            // Only validate user input values - different values indicate that
	            // the end user has not entered a value
	            if ( ! name.isMultiValue() ) {
	                if ( ! name.val() ) {
	                    name.error( 'A project name must be given' );
	                }
	            }
	            if ( ! milestone.isMultiValue() ) {
	                if ( ! milestone.val() ) {
	                    milestone.error( 'Milestone must be given' );
	                }
	            }
	            if ( ! endDate.isMultiValue() ) {
	            	if ( ! endDate.val() ) {
	            		endDate.error( 'End date must be given' );
	            	}
	            	if ( ! dateValidationCheck(endDate.val()) ) {
	            		endDate.error( 'End date must be the format of "YYYY-MM-DD"' );
	            	}
	            	endDate.error($(this).text());

	            }
	            if ( ! level.isMultiValue() ) {
	                if ( ! level.val() ) {
	                    level.error( 'Level must be given' );
	                }
	                if ( level.val() !== "1" && level.val() !== "2" ) {
	                	level.error( 'Level must be 1 or 2' );
	                }
	            }
	            if ( ! missed.isMultiValue() ) {
	                if ( ! missed.val() ) {
	                    missed.error( 'Missed must be given' );
	                }
	                if ( isNaN(missed.val()) || !IsNum(missed.val()) || parseInt(missed.val(), 10) < 0) {
	                	missed.error( 'Missed must be a non-negative integer' );
	                }
	            }
	            // If any error was reported, cancel the submission so it can be corrected
	            if ( this.inError() ) {
	                return false;
	            }
	        }
	    } );

	    editor.on( 'postSubmit', function(e, json, data, action) {
	    	renderTimeline();
	    });

	    $('#projectTable').DataTable( {		//create a table
	        dom: "Bfrtip",					//add buttons to the table
	        ajax: {							//load the table
	        	type: 'GET',
	        	url: '/get',
	        	dataType: 'json'
	        },
	        columns: [
	            { data: "name_P" },
	            { data: "end_date" },
	            { data: "milestone" },
	            { data: "level" },
	            { data: "missed"},
	        ],
	        select: true,
	        buttons: [
			
	            { extend: "create", editor: editor },
	            { extend: "edit",   editor: editor },
	            { extend: "remove", editor: editor }
	        ]
	    });
	});

	setTimeout(function(){
	   window.location.reload(1);
	}, 1000*60*60*4);

	function IsNum(s)
	{
	    if(s!=null){
	        var r,re;
	        re = /\d*/i; 
	        r = s.match(re);
	        return (r==s)?true:false;
	    }
	    return false;
	}

	function dateValidationCheck(str) {
	  var re = new RegExp("^([0-9]{4})[-]{1}([0-9]{2})[-]{1}([0-9]{2})$");
	  var strDataValue;
	  var infoValidation = true;
	  if ((strDataValue = re.exec(str)) != null) {
	    var i;
	    i = parseFloat(strDataValue[1]);
	    if (i <= 0 || i > 9999) { 
	      infoValidation = false;
	    }
	    i = parseFloat(strDataValue[2]);
	    if (i <= 0 || i > 12) { 
	      infoValidation = false;
	    }
	    i = parseFloat(strDataValue[3]);
	    if (i <= 0 || i > 31) { 
	      infoValidation = false;
	    }
	  } else {
	    infoValidation = false;
	  }
	  return infoValidation;
	}


	var Colors = ['lightskyblue', 'violet', 'mediumSeaGreen', 'lightslategray', 'mediumpurple', 'lightcoral'];
	var darkColors = {'lightskyblue': 'blue', 'violet': 'magenta', 'mediumSeaGreen': 'green', 'lightslategray': 'dimgery', 'mediumpurple': 'purple', 'lightcoral': 'indianred', 'red' : 'darkred', 'orange': 'chocolate', 'yellow': 'goldenrod'};
	var size = {'02': "font-size: 14pt; ", 
				'01': "font-size: 17pt; ",
				'12': "font-size: 20pt; ",
				'11': "font-size: 23pt; ",
				'22': "font-size: 26pt; ",
				'21': "font-size: 29pt; ",
				'32': "font-size: 32pt; animation: flash linear 2s infinite;",
				'31': "font-size: 35pt; animation: flash linear 2s infinite;"};

	function renderTimeline() {
		$.ajax({
			url: '/get',
			success: function (data) {
				// hide the "loading..." message
				//document.getElementById('loading').style.display = 'none';

				// DOM element where the Timeline will be attached
				document.getElementById("menu0").innerHTML = "";
				document.getElementById("menu1").innerHTML = "";
				document.getElementById("menu2").innerHTML = "";

				$(".nav-tabs a")[0].text = "";
				$(".nav-tabs a")[1].text = "";
				$(".nav-tabs a")[2].text = "";

				var ColorsFlag = [];
				for (var i  = 0; i < Colors.length; i++) {
					ColorsFlag.push(null);
				}

				var projectNames = data["projectNames"];
				$.each(projectNames, function(index, value) {
					
					var newh3 = $('<h3><b>Project: </b>' + value + '</h3>');
					var newdiv = $('<div></div>');
					var newdivId = 'project'+index;
					newdiv.attr('id', newdivId);
					var tab_no = parseInt(index/2);
					newh3.appendTo('#menu' + tab_no);
					newdiv.appendTo('#menu' + tab_no);

					$(".nav-tabs a")[tab_no].text = $('#tab' + parseInt(index/2).toString()).text() + "·" + value;

					var container = document.getElementById(newdivId);
					var currentTime = new Date();

					var transData = [];
					data["data"].forEach(function(e) {
						if (e["name_P"] === value) {
							var obj = {};
							e["end_date"] = e["end_date"].substring(0, 10) + " 20:00:00";
							obj["start"] = e["end_date"];
							obj["content"] = e["end_date"].substring(5, 10)// + '<br>' + "level: " + e["level"]
											 + '<br>' + e["milestone"];
							background_color = getColor(e["name_P"], e["missed"], ColorsFlag);
							if (getSize(e["end_date"]) !== 'default') {
								obj["style"] = "background-color: " + background_color + 
											 "; border-color: " + darkColors[background_color] +
											 "; " + size[getSize(e["end_date"])+e["level"].toString()] +
											 "; font-family: sans-serif; border-radius: 12px; padding: 5px; box-shadow: 0 0 10px gray; border-width: 2px;";
							}
							transData.push(obj);
						}
					});

					// Create a DataSet (allows two way data-binding)
					var items = new vis.DataSet(transData);

					// Configuration for the Timeline
					var options = {
						editable: true,
						start: currentTime.setDate(currentTime.getDate() - 3),
						end: currentTime.setDate(currentTime.getDate() + 30),
						zoomMin: 1000 * 60 * 60 * 24 * 15,
					zoomMax: 1000 * 60 * 60 * 24 * 31 * 6,
					minHeight: 300,
					maxHeight: 900
					};

					// Create a Timeline
					var timeline = new vis.Timeline(container);
					timeline.setOptions(options);
					timeline.setItems(items);
					});
			},
			error: function (err) {
				console.log('Error', err);
				if (err.status === 0) {
					alert('Failed to load data.\nPlease run this example on a server.');
				}
				else {
					alert('Failed to load data.');
				}
			}
		});
	}

	function getColor(name, missed, colorsFlag) {
		var color;
		if (missed == 0) {
			var code = (name.hashCode()%Colors.length+Colors.length)%Colors.length;
			if (colorsFlag[code] == null) {
				color = Colors[code];
				colorsFlag[code] = name;
			}
			else if (name === colorsFlag[code]){
				color = Colors[code];
			}
			else {
				var index = code+1;
				while (index != code) {
					if (colorsFlag[index] == null) {
						color = Colors[index];
						colorsFlag[index] = name;
						break;
					}
					else if (name === colorsFlag[index]) {
						color = Colors[index];
						break;
					}
					else {
						index = (index+1)%Colors.length;
					}
				}
			}
		}
		else if (missed == 1) {
			color = "yellow";
		}
		else if (missed == 2) {
			color = "orange";
		}
		else {
			color = "red";

		}		
		return color;
	}

	function getSize(endDate) {
		var size;
	//	var currentDate = (new Date()).toISOString().substring(0,10);
		var endDateTime = new Date(endDate).getTime();
		var currentTime = new Date().getTime();
	  	if (endDateTime < (new Date()).getTime()) { //endDate before this moment
	  		size = 'default';
	  	}
	  	else if (endDateTime - currentTime < 3*24*60*60*1000) { //within 3 days
	  		size = '3';
	  	}
	  	else if (endDateTime - currentTime < 7*24*60*60*1000) { //3~7 days
	  		size = '2';
	  	}
	  	else if (endDateTime - currentTime < 15*24*60*60*1000) { //7~15 days
	  		size = '1';
	  	}
	  	else { //after 15 days
	  		size = '0';
	  	}
	  	
	  	return size;
	}


	String.prototype.hashCode = function(){
		var hash = 0;
		if (this.length == 0) return hash;
		for (i = 0; i < this.length; i++) {
			char = this.charCodeAt(i);
			hash = ((hash<<5)-hash)+char;
			hash = hash & hash; // Convert to 32bit integer
		}
		return hash;
	}


</script>


<script src="static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="static/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}